{
  "manifest_version": 2,
  "name": "${package.name}",
  "description": "${package.description}",
  "hidden": true,
  "incognito": "not_allowed",
  "version": "${package.version}",
  "homepage_url": "${package.homepage}",

  "applications": {
    "gecko": {
      "id": "${package.name}-${branch}@mozilla.org",
          "strict_min_version": "69.0"
    }
  },

  "experiment_apis": {
    "fpPrefs": {
      "schema": "./common/privileged/fpPrefs/schema.json",
      "parent": {
        "scopes": ["addon_parent"],
        "script": "./common/privileged/fpPrefs/api.js",
        "paths": [["fpPrefs"]]
      }
    }
  },

  "permissions": [
    "normandyAddonStudy",
    "storage",
    "tabs",
    "unlimitedStorage",
    "webNavigation",
    "webRequest",
    "webRequestBlocking",
    "<all_urls>"
  ],

  "background": {
    "scripts": [
      "common/studyController.js",
      "requestBlocking/console.js",
      "requestBlocking/lib/lz4/lz4-block-codec-any.js",
      "requestBlocking/lib/punycode.js",
      "requestBlocking/lib/publicsuffixlist/publicsuffixlist.js",
      "requestBlocking/webext.js",
      "requestBlocking/vapi.js",
      "requestBlocking/vapi-common.js",
      "requestBlocking/vapi-background.js",
      "requestBlocking/vapi-webrequest.js",
      "requestBlocking/background.js",
      "requestBlocking/traffic.js",
      "requestBlocking/hntrie.js",
      "requestBlocking/strie.js",
      "requestBlocking/utils.js",
      "requestBlocking/uritools.js",
      "requestBlocking/lz4.js",
      "requestBlocking/cachestorage.js",
      "requestBlocking/assets.js",
      "requestBlocking/filtering-context.js",
      "requestBlocking/static-net-filtering.js",
      "requestBlocking/ublock.js",
      "requestBlocking/storage.js",
      "requestBlocking/pagestore.js",
      "requestBlocking/tab.js",
      "requestBlocking/text-encode.js",
      "requestBlocking/start.js"
    ]
  },
  "content_scripts": [
    {
      "all_frames": true,
      "js": [
        "requestBlocking/vapi.js"
      ],
      "matches": [
        "http://*/*",
        "https://*/*",
        "file://*/*"
      ],
      "run_at": "document_start"
    }
  ]
}
